In [65]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [256]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
543,tt0209475,35000000,94728529,The Wedding Planner,Jennifer Lopez|Matthew McConaughey|Justin Cham...,Adam Shankman,His big day is her big problem.,"Mary Fiore, San Francisco's premiere wedding p...",103,Comedy,Columbia Pictures Corporation|Intermedia Films...,1/26/2001,5.4,2001
1091,tt0181852,200000000,435000000,Terminator 3: Rise of the Machines,Arnold Schwarzenegger|Nick Stahl|Claire Danes|...,Jonathan Mostow,The Machines Will Rise.,It's been 10 years since John Connor saved Ear...,109,Action|Thriller|Science Fiction,Columbia Pictures|Intermedia Films|Warner Bros...,7/2/2003,5.8,2003
1262,tt1711425,13000000,48065672,21 & Over,Miles Teller|Skylar Astin|Justin Chon|Sarah Wr...,Scott Moore|Jon Lucas,Finally.,Brilliant student Jeff Chang has the most impo...,93,Comedy,Relativity Media|Virgin Produced|Mandeville Fi...,3/1/2013,5.7,2013
948,tt0280486,70000000,65977295,Bad Company,Anthony Hopkins|Chris Rock|Peter Stormare|Gabr...,Joel Schumacher,Two Mismatched Partners. One Messed Up Case!,When a Harvard-educated CIA agent is killed du...,116,Action|Adventure|Comedy|Thriller,Jerry Bruckheimer Films|Touchstone Pictures|St...,6/7/2002,5.5,2002
1297,tt1905041,160000000,788679850,Fast & Furious 6,Paul Walker|Vin Diesel|Dwayne Johnson|Jordana ...,Justin Lin,All roads lead to this,Hobbs has Dominic and Brian reassemble their c...,130,Action|Thriller|Crime,Universal Pictures|Original Film|One Race Prod...,5/6/2013,6.6,2013

In [257]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [258]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#создадим столбец показывающий прибыль для каждого фильма в нашем датасете
data['profit']=True
data['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [259]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [260]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data['budget']==data['budget'].max()]
display(max_budget)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [261]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [262]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [263]:
longest = data[data['runtime']==data['runtime'].max()]
display(longest)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [264]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [265]:
shortest = data[data['runtime']==data['runtime'].min()]['original_title']
display(shortest)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [266]:
answers['4'] = '110'

In [267]:
mean_runtime = round(data['runtime'].mean())
display(mean_runtime)

110

# 5. Каково медианное значение длительности фильмов?

In [268]:
answers['5'] = '107'

In [269]:
m = data['runtime'].describe()
median = m.loc['50%']
display(median)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [270]:
answers['6'] = '239. Avatar (tt0499549)'
# лучше код получения столбца profit вынести в Предобработку что в начале

In [271]:
most_profit = data[data['profit']==data['profit'].max()]
display(most_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [272]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [273]:
less_profit = data[data['profit']==data['profit'].min()]
display(less_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [274]:
answers['8'] = '1478'

In [275]:
#создаем датафрейм, состоящий из фильмамов у которых сборы оказались больше бюджета
for_revenue = data[data['revenue'] > data['budget']] 

#считаем количество таких фильмов с помощью nunique(), на случай если вдруг есть дубликаты строк
count_revenue = for_revenue['imdb_id'].nunique() 
display(count_revenue)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [276]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [277]:
#создаем датафрейм, состоящий из фильмов только 2008 года выпуска
films_2008 = data[data['release_year']==2008] 

#находим среди них фильм с максимальными сборами
revenue_2008 = films_2008[films_2008['revenue']==films_2008['revenue'].max()] 

display(revenue_2008)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [278]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [279]:
#создадим отдельный датасет, состоящий из фильмов выпущенных с 2012 по 2014 года
films = data[(2012<=data['release_year']) & (data['release_year']<=2014)] 

# находим среди них самый убыточный
profit_min = films[films['profit']==films['profit'].min()] 
display(profit_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [280]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [281]:
dfgenres = data.copy()

#разделим названия жанров фильмов по одному для каждого фильма, на случай если у фильма несколько жанров сразу
dfgenres['genres'] = dfgenres['genres'].str.split('|')
dfgenres = dfgenres.explode('genres')

#посчитали сколько раз встречается каждый отдельный жанр в датасете и вывели самый частый на экран
display(dfgenres['genres'].value_counts().index[0])

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [282]:
#используя датасет из предыдущего задания с каждым жанром отдельно, возьмем только прибыльные фильмы
dfprofit = dfgenres[dfgenres['profit']>0] 

#считаем количество фильмов в каждом жанре и выводим самый частый жанр на экран
display(dfprofit['genres'].value_counts().index[0])

'Drama'

In [283]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [284]:
answers['13'] = 'Peter Jackson'

In [285]:
dfdirector = data.copy()

#разделим режиссеров снимавших фильмы по одному для каждого фильма
dfdirector['director'] = data['director'].str.split('|')
dfdirector = dfdirector.explode('director') 

#группируем наш датасет по режиссерам и считаем сумму сборов для каждого
grouped_dir = dfdirector.groupby(['director'])['revenue'].sum()

#отсортируем сборы каждого режиссера по убыванию и посмотрим кто первый в списке
display(grouped_dir.sort_values(ascending=False).index[0])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [286]:
answers['14'] = 'Robert Rodriguez'

In [287]:
#берем за основу датасет в котором жанры разделены по одному для каждого фильма
directors = dfgenres.copy()

#также разделим в этом датасете режиссеров, чтобы у каждого режиссера можно было отдельно посчитать каждый жанр
directors['director']=directors['director'].str.split('|')
directors = directors.explode('director')

#оставляем только фильмы в жанре Action
action_dir = directors[directors['genres']=='Action'] 

#посчитали у какого режиссера таких фильмов больше
display(action_dir['director'].value_counts().index[0])

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [288]:
actors = data.copy()

#разделяем актеров по одному для каждого фильма
actors['cast'] = actors['cast'].str.split('|')
actors = actors.explode('cast')

#оставляем в датасете только фильмы 2012 года выпуска
actors1 = actors[actors['release_year']==2012] 

#делаем группировку по актерам и считаем сумму сборов для каждого
actors2012 = actors1.groupby(['cast'])['revenue'].sum()

#сортируем получившийся список по убыванию и смотрим кто первый
display(actors2012.sort_values(ascending=False).index[0])

'Chris Hemsworth'

In [289]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [290]:
answers['16'] = 'Matt Damon'

In [291]:
#берем версию датасета где актеры разделены по одному для каждого фильма
budget = actors.copy() 

#оставляем в датасете только фильмы с бюджетом выше среднего
t = budget[budget['budget']>budget['budget'].mean()]

#делаем группировку по актерам и считаем количество таких фильмов у каждого
actors_budget = t.groupby(['cast'])['imdb_id'].count()

#сортируем получившийся список актеров по убыванию и берем первого
display(actors_budget.sort_values(ascending=False).index[0])

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [292]:
answers['17'] = 'Action'

In [293]:
#берем версию датасета где жанры для каждого фильма разделены по одному
nicolas_cage = dfgenres.copy() 

#разделяем актеров по одному для каждого фильма
nicolas_cage['cast']=nicolas_cage['cast'].str.split('|')
nicolas_cage = nicolas_cage.explode('cast')

#оставляем только фильмы с Nicolas Cage
nicolas_cage = nicolas_cage[nicolas_cage['cast']=='Nicolas Cage'] 

#считаем количество фильмов для каждого жанра и берем наиболее частый
display(nicolas_cage['genres'].value_counts().index[0])

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [294]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [295]:
prodaction = data.copy()

#отделяем компании производившие фильмы по одной для каждого фильма
prodaction['production_companies']=prodaction['production_companies'].str.split('|')
prodaction = prodaction.explode('production_companies')

productions = prodaction.copy()

#оставляем только фильмы компании Paramount Pictures в датасете
prodaction = prodaction[prodaction['production_companies']=='Paramount Pictures']

#находим фильм с минимальным профитом
display(prodaction[prodaction['profit']==prodaction['profit'].min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [296]:
answers['19'] = '2015'

In [297]:
year = data.copy()

#группируем датасет по году выпуска и суммируем показатели сборов
year = year.groupby(['release_year'])['revenue'].sum() 

#сортируем полученный список по убыванию и получаем самый успешный год
display(year.sort_values(ascending=False).index[0])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [298]:
answers['20'] = '2014'

In [299]:
#берем версию датасета где компании уже разделены для каждого фильма по одной
warner_bros = productions.copy()

#оставляем только компании относящиеся к Warner Bros
warner_bros = warner_bros[warner_bros['production_companies'].str.contains('Warner Bros')]

#группируем датасет по году выпуска и считаем сумму прибылей на каждый год
warner_profit = warner_bros.groupby(['release_year'])['profit'].sum()

#сортируем по убыванию чтобы получить самый прибыльный год
display(warner_profit.sort_values(ascending=False).index[0])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [300]:
answers['21'] = 'September'

In [301]:
month = data.copy()

#выделяем из даты релиза фильма месяц, с помощью split, и записываем в отдельную колонку
month['month'] = month['release_date'].apply(lambda x:x.split('/')[0])

#высчитываем какой месяц встречается чаще всего в датасете
display(month['month'].value_counts().sort_values(ascending=False).index[0])

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [302]:
answers['22'] = '450'

In [303]:
#берем за основу датасет из предыдущего задания, в котором есть колонка с месяцем релиза каждого фильма
summer = month.copy()

#оставляем только летние месяцы в датасете
summer = summer[(summer['month']=='6') | (summer['month']=='7') | (summer['month']=='8')]

#считаем количество фильмов в получившемся датасете
display(summer['imdb_id'].nunique())

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [304]:
answers['23'] = 'Peter Jackson'

In [305]:
#берем за основу датасет в котором есть колонка с месяцем релиза каждого фильма
winter = month.copy()

#отделяем режисеров работавших над фильмом по одному на каждый фильм
winter['director'] = winter['director'].str.split('|')
winter = winter.explode('director')

#оставляем в датасете только зимние месяцы
winter_month = winter.query('month in ["1", "2", "12"]')

#считаем какой режиссер чаще всего встречается в получившемся датасете
display(winter_month['director'].value_counts().sort_values(ascending=False).index[0])

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [306]:
answers['24'] = 'Four By Two Productions'

In [307]:
studios = data.copy()

#отделиляем каждую компанию снимавшую фильм по одной для каждого фильма
studios['production_companies']=studios['production_companies'].str.split('|')
studios = studios.explode('production_companies')

#убираем пробелы из названий фильмов, чтобы можно было посчитать именно количество символов, без пробелов
studios['original_title'] = studios['original_title'].apply(lambda x:x.replace(' ',''))

len_title = studios.copy()

#в поле названия фильмов оставляем только цифру с количеством символов в названии для каждого фильма
len_title['original_title']=len_title['original_title'].apply(lambda x:len(x))

#группируем датасет по названиям компаний и считаем средние длины названий фильмов у каждой
mean_len = len_title.groupby(['production_companies'])['original_title'].mean()

#сортируем компании по убыванию и получаем ту, у которой в среднем самые длинные названия
display(mean_len.sort_values(ascending=False).index[0])

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [308]:
answers['25'] = 'Midnight Picture Show'

In [309]:
#берем датасет в котором компании уже разделены по одной
studios1 = studios.copy()

#из строки описания фильма делаем список, где каждое слово является элементом списка
studios1['overview'] = studios1['overview'].str.split()

#в поле описания фильма оставляем запись только о количестве слов в ней
studios1['overview'] = studios1['overview'].apply(lambda x:len(x))

#группируем датасет по названиям компаний и считаем среднее количество слов в описании для каждой
len_view = studios1.groupby(['production_companies'])['overview'].mean()

#сортируем получившийся список по убыванию чтобы получить компанию с самыми длинными описаниями
display(len_view.sort_values(ascending=False).index[0])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [310]:
answers['26'] = 'The Dark Knight, Inside Out, 12 Years a Slave'

In [311]:
#находим какое количество фильмов составляет 1%
percent = data['imdb_id'].nunique() // 100 

best_film = data.copy()

#отсортируем фильмы по их рейтингу в порядке убывания
best_film = best_film.sort_values(by='vote_average', ascending=False)

#выводим список названий лучших фильмов по рейтингу, составляющих 1%
best_film.head(percent)['original_title'].values

array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
       'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
       '12 Years a Slave', 'Guardians of the Galaxy',
       'The Lord of the Rings: The Return of the King', 'Memento',
       'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her',
       'Spotlight', 'Big Hero 6', 'The Fault in Our Stars'], dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [312]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [313]:
cast_couples = data.copy()

#меняем формат поля актеров снявшихся в фильме со строки на список
cast_couples['cast'] = cast_couples['cast'].str.split('|')

#разбиваем список актеров снявшихся в фильме по парам
cast_couples['cast'] = cast_couples['cast'].apply(lambda x:list(combinations(x, 2)))

# пишем функцию которая на вход принимает список из пар актеров в каждом фильме, а возвращает счетчик количества раз, 
# сколько каждая пара актеров встречается в датасете
def couple_count(a):
    cnt = Counter()
    for i in a:
        for s in i:
            cnt[s]+=1
    return cnt

#создаем список пар актеров для всех фильмов
list1=cast_couples['cast'].values

#выводим на экран самую частую пару
display(couple_count(cast_couples['cast'].values).most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Вариант 2
## Дополнение к основному варианту решения, которое представляется более правильным

In [314]:
#используем уже готовый датасет с парами актеров
cast_couples2=cast_couples.copy()

#сортируем список пар актеров по алфавиту, на случай если в каком-нибудь фильме актеры были записаны в разном порядке
cast_couples2['cast'] = cast_couples2['cast'].apply(lambda x:sorted(x))

#создаем список пар актеров для всех фильмов записанных в алфавитном порядке
list2=cast_couples2['cast'].values

#за счет сортировки по алфавиту теперь на первом месте пара Daniel Radcliffe, Emma Watson с таким же количеством фильмов
display(couple_count(list2).most_common(1))

[(('Daniel Radcliffe', 'Emma Watson'), 8)]

ВАРИАНТ 2

# Submission

In [315]:
# в конце можно посмотреть свои ответы к каждому вопросу
display(answers)

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Inside Out, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [316]:
# и убедиться что ни чего не пропустил)
len(answers)

27