In [92]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
%matplotlib inline
pd.set_option('display.max_columns', 50)

In [93]:
fuel_per_pas = {'boeing': 26, 'sukhoi': None} # gramm per passenger per 1 km
fuel_per_hour = {'boeing': 2.4, 'sukhoi': 1.7} # ton per hour
fuel_price = 49700 # Цена за тонну топлива в аэропорту Анапы в 2017г

In [134]:
def distanceBetweenKm(lat1, lon1, lat2, lon2):
    dLat = math.radians(lat2-lat1)
    dLon = math.radians(lon2-lon1)

    lat1 = math.radians(lat1)
    lat2 = math.radians(lat2)

    a = math.sin(dLat/2)**2 + math.sin(dLon/2)**2 * math.cos(lat1) * math.cos(lat2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    return round(c * 6371, 0)  #multiply by 100k to get distance in cm

def count_costs_flight(x):
    if x['aircraft_code']=='733':
        if x['arrival_airport']=='NOZ':
            n = (fuel_per_hour['boeing']/60) * x['flight_lasts_min'] * fuel_price
            return round(n*1.15, 0)
        p = (x['economy_sold']+x['business_sold']) * x['flight_distance'] * fuel_per_pas['boeing']/1000000 * fuel_price
        h = (fuel_per_hour['boeing']/60) * x['flight_lasts_min'] * fuel_price
        return round(((p + h)/2)*1.15, 0)
    if x['aircraft_code']=='SU9':
        s = (fuel_per_hour['sukhoi']/60) * x['flight_lasts_min'] * fuel_price
        return round(s*1.15, 0)

In [135]:
df = pd.read_csv('airlines_anapa.csv')

In [136]:
df[df['arrival_airport']=='NOZ']

,flight_id,departure,arrival,departure_airport,arrival_airport,aircraft_code,economy_sold,comfort_sold,business_sold,price_eco_sold,price_bus_sold,price_total,aircraft_model,aircraft_range,amount_eco_seats,amount_bus_seats,total_seats,total_booking_price,arrival_city,airport_longitude,airport_latitude,anapa_long,anapa_lat
8,136511,2017-02-21T06:10:00Z,2017-02-21T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102
9,136523,2017-01-10T06:10:00Z,2017-01-10T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102
10,136540,2017-01-17T06:10:00Z,2017-01-17T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102
11,136546,2017-01-03T06:10:00Z,2017-01-03T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102
38,136560,2017-01-24T06:10:00Z,2017-01-24T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102
79,136513,2017-02-28T06:10:00Z,2017-02-28T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102
80,136514,2017-02-07T06:10:00Z,2017-02-07T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102
81,136567,2017-02-14T06:10:00Z,2017-02-14T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102
117,136544,2017-01-31T06:10:00Z,2017-01-31T11:15:00Z,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   flight_id            127 non-null    int64
 1   departure            127 non-null    object
 2   arrival              127 non-null    object
 3   departure_airport    127 non-null    object
 4   arrival_airport      127 non-null    object
 5   aircraft_code        127 non-null    object
 6   economy_sold         118 non-null    float64
 7   comfort_sold         0 non-null      float64
 8   business_sold        118 non-null    float64
 9   price_eco_sold       118 non-null    float64
 10  price_bus_sold       118 non-null    float64
 11  price_total          118 non-null    float64
 12  aircraft_model       127 non-null    object
 13  aircraft_range       127 non-null    int64
 14  amount_eco_seats     127 non-null    int64
 15  amount_bus_seats     127 non-null    int64
 16  total_seats          127 non-null    int64
 17  total_booking_price  118 non-null    float64
 18  arrival_city         127 non-null    object
 19  airport_longitude    127 non-null    float64
 20  airport_latitude     127 non-null    float64
 21  anapa_long           127 non-null    float64
 22  anapa_lat            127 non-null    float64
dtypes: float64(11), int64(5), object(7)
memory usage: 22.9+ KB

In [138]:
df['perc_sold'] = (df['economy_sold'] + df['business_sold']) / df['total_seats']

In [139]:
df = df.drop(columns = ['comfort_sold'])

In [140]:
df['flight_distance'] = df.apply(
    lambda x: distanceBetweenKm(x['anapa_lat'], x['anapa_long'], x['airport_latitude'], x['airport_longitude']), axis=1)

In [141]:
df['flight_distance']

0      1220.0
1      1220.0
2      1220.0
3      1220.0
4      1220.0
        ...
122     630.0
123     630.0
124     630.0
125     630.0
126     630.0
Name: flight_distance, Length: 127, dtype: float64

In [142]:
df['departure'] = df['departure'].apply(lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%SZ'))

In [143]:
df['arrival'] = df['arrival'].apply(lambda x: datetime.strptime(x, '%Y-%m-%dT%H:%M:%SZ'))

In [144]:
df['flight_lasts_min'] = df['arrival']-df['departure']

In [145]:
df['flight_lasts_min'] = df['flight_lasts_min'].apply(lambda x: x.seconds/60)

In [146]:
df['flight_costs'] = df.apply((lambda x: count_costs_flight(x)), axis=1)

In [147]:
df['flight_costs']

0      202238.0
1      211303.0
2      221274.0
3      215836.0
4      214929.0
         ...
122     80970.0
123     80970.0
124     80970.0
125     80970.0
126     80970.0
Name: flight_costs, Length: 127, dtype: float64

In [148]:
df.head(5)

,flight_id,departure,arrival,departure_airport,arrival_airport,aircraft_code,economy_sold,business_sold,price_eco_sold,price_bus_sold,price_total,aircraft_model,aircraft_range,amount_eco_seats,amount_bus_seats,total_seats,total_booking_price,arrival_city,airport_longitude,airport_latitude,anapa_long,anapa_lat,perc_sold,flight_distance,flight_lasts_min,flight_costs
0,136122,2017-01-08 10:05:00,2017-01-08 11:45:00,AAQ,SVO,733,87.0,10.0,1065000.0,366000.0,1431000.0,Boeing 737-300,4200,118,12,130,5411400.0,Moscow,37.4146,55.972599,37.347301,45.002102,0.746154,1220.0,100.0,202238.0
1,136130,2017-02-13 10:05:00,2017-02-13 11:45:00,AAQ,SVO,733,97.0,10.0,1190600.0,366000.0,1556600.0,Boeing 737-300,4200,118,12,130,5795200.0,Moscow,37.4146,55.972599,37.347301,45.002102,0.823077,1220.0,100.0,211303.0
2,136181,2017-01-31 10:05:00,2017-01-31 11:45:00,AAQ,SVO,733,108.0,10.0,1323600.0,366000.0,1689600.0,Boeing 737-300,4200,118,12,130,6961000.0,Moscow,37.4146,55.972599,37.347301,45.002102,0.907692,1220.0,100.0,221274.0
3,136209,2017-01-06 10:05:00,2017-01-06 11:45:00,AAQ,SVO,733,102.0,10.0,1249200.0,366000.0,1615200.0,Boeing 737-300,4200,118,12,130,7017800.0,Moscow,37.4146,55.972599,37.347301,45.002102,0.861538,1220.0,100.0,215836.0
4,136270,2017-02-12 10:05:00,2017-02-12 11:45:00,AAQ,SVO,733,100.0,11.0,1226000.0,402600.0,1628600.0,Boeing 737-300,4200,118,12,130,6539400.0,Moscow,37.4146,55.972599,37.347301,45.002102,0.853846,1220.0,100.0,214929.0

In [149]:
df['revenue'] = df['price_total'] - df['flight_costs']

In [153]:
df.sample(10)

,flight_id,departure,arrival,departure_airport,arrival_airport,aircraft_code,economy_sold,business_sold,price_eco_sold,price_bus_sold,price_total,aircraft_model,aircraft_range,amount_eco_seats,amount_bus_seats,total_seats,total_booking_price,arrival_city,airport_longitude,airport_latitude,anapa_long,anapa_lat,perc_sold,flight_distance,flight_lasts_min,flight_costs,revenue
32,136226,2017-01-30 10:05:00,2017-01-30 11:45:00,AAQ,SVO,733,118.0,12.0,1446800.0,439200.0,1886000.0,Boeing 737-300,4200,118,12,130,7050200.0,Moscow,37.414600,55.972599,37.347301,45.002102,1.000000,1220.0,100.0,232152.0,1653848.0
76,136264,2017-02-18 10:05:00,2017-02-18 11:45:00,AAQ,SVO,733,105.0,11.0,1288200.0,402600.0,1690800.0,Boeing 737-300,4200,118,12,130,7340200.0,Moscow,37.414600,55.972599,37.347301,45.002102,0.892308,1220.0,100.0,219461.0,1471339.0
35,136441,2017-02-03 10:05:00,2017-02-03 11:45:00,AAQ,SVO,733,117.0,11.0,1434600.0,402600.0,1837200.0,Boeing 737-300,4200,118,12,130,7280900.0,Moscow,37.414600,55.972599,37.347301,45.002102,0.984615,1220.0,100.0,230339.0,1606861.0
24,136660,2017-02-20 09:25:00,2017-02-20 10:15:00,AAQ,EGO,SU9,77.0,10.0,488100.0,189000.0,677100.0,Sukhoi Superjet-100,3000,85,12,97,4287800.0,Belgorod,36.590099,50.643799,37.347301,45.002102,0.896907,630.0,50.0,80970.0,596130.0
39,136571,2017-01-25 09:25:00,2017-01-25 10:15:00,AAQ,EGO,SU9,83.0,12.0,525900.0,226800.0,752700.0,Sukhoi Superjet-100,3000,85,12,97,4678000.0,Belgorod,36.590099,50.643799,37.347301,45.002102,0.979381,630.0,50.0,80970.0,671730.0
58,136159,2017-01-04 10:05:00,2017-01-04 11:45:00,AAQ,SVO,733,103.0,12.0,1261400.0,439200.0,1700600.0,Boeing 737-300,4200,118,12,130,7344900.0,Moscow,37.414600,55.972599,37.347301,45.002102,0.884615,1220.0,100.0,218555.0,1482045.0
83,136645,2017-01-05 09:25:00,2017-01-05 10:15:00,AAQ,EGO,SU9,73.0,9.0,462900.0,170100.0,633000.0,Sukhoi Superjet-100,3000,85,12,97,4576300.0,Belgorod,36.590099,50.643799,37.347301,45.002102,0.845361,630.0,50.0,80970.0,552030.0
80,136514,2017-02-07 06:10:00,2017-02-07 11:15:00,AAQ,NOZ,733,NaN,NaN,NaN,NaN,NaN,Boeing 737-300,4200,118,12,130,NaN,Novokuznetsk,86.877197,53.811401,37.347301,45.002102,NaN,3634.0,305.0,697291.0,NaN
42,136729,2017-01-29 09:25:00,2017-01-29 10:15:00,AAQ,EGO,SU9,77.0,11.0,487500.0,207900.0,695400.0,Sukhoi Superjet-100,3000,85,12,97,4419600.0,Belgorod,36.590099,50.643799,37.347301,45.002102,0.907216,630.0,50.0,80970.0,614430.0
26,136778,2017-02-22 09:25:00,2017-02-22 10:15:00,AAQ,EGO,SU9,84.0,12.0,532200.0,226800.0,759000.0,Sukhoi Superjet-100,3000,85,12,97,4687300.0,Belgorod,36.590099,50.643799,37.347301,45.002102,0.989691,630.0,50.0,80970.0,678030.0

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   flight_id            127 non-null    int64
 1   departure            127 non-null    datetime64[ns]
 2   arrival              127 non-null    datetime64[ns]
 3   departure_airport    127 non-null    object
 4   arrival_airport      127 non-null    object
 5   aircraft_code        127 non-null    object
 6   economy_sold         118 non-null    float64
 7   business_sold        118 non-null    float64
 8   price_eco_sold       118 non-null    float64
 9   price_bus_sold       118 non-null    float64
 10  price_total          118 non-null    float64
 11  aircraft_model       127 non-null    object
 12  aircraft_range       127 non-null    int64
 13  amount_eco_seats     127 non-null    int64
 14  amount_bus_seats     127 non-null    int64
 15  total_seats          127 non-null    int64
 16  total_booking_price  118 non-null    float64
 17  arrival_city         127 non-null    object
 18  airport_longitude    127 non-null    float64
 19  airport_latitude     127 non-null    float64
 20  anapa_long           127 non-null    float64
 21  anapa_lat            127 non-null    float64
 22  perc_sold            118 non-null    float64
 23  flight_distance      127 non-null    float64
 24  flight_lasts_min     127 non-null    float64
 25  flight_costs         127 non-null    float64
 26  revenue              118 non-null    float64
dtypes: datetime64[ns](2), float64(15), int64(5), object(5)
memory usage: 26.9+ KB